@import url("SosanhcackhoiCSS.css");
.seach-school{
	width: 90%;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 50px;
}
.seach-school>fieldset{
	border: 1px solid black;
	padding-bottom: 25px;

}
fieldset>select{
    width: 230px;
    height: 40px;
    color: black;
    margin-right: 55px;s
}
#bar-chart-grouped{width: 600px !important; height: 400px !important;}
