@import url("QuanLiThiLucCSS.css");
.seach-student{
	width: 96s%;
	margin: auto;
	height: 200px;
	text-align: center;
}
.seach-student>fieldset{
	border: 1px solid black;
	padding-bottom: 50px;
}
fieldset>span{
	font-weight: bold;
}

.Chart-student{
	width: 93%;
	margin: auto;
	text-align: center;
	background-color: #00dcff08;
}
#bar-chart-grouped{width: 600px !important; height: 400px !important;}