@import url("QuanLiThiLucCSS.css");
.box{
	margin-top: 10px;


}
fieldset{
	border: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 90%;
	margin: auto;
	padding-left: 20px;
}
fieldset>legend{
	width: auto;
	border: none;
}
fieldset>select{
	margin-left: 5px;
	margin-right: 20px;

}
